---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import CommentBox from "../../components/CommentBox";
import PostsSlider from "../../components/PostsSlider.astro";
import BlogContent from "../../components/BlogContent";
import CommentsWrapper from "../../components/CommentsWrapper";
import { getCommentsForPost } from "../../../src/pages/api/get-comments";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
const comments = await getCommentsForPost(post.slug);
---

<Layout>
  <section class="flex flex-col gap-10">
    <div class="flex flex-col gap-10 max-w-4xl">
      <BlogContent
        client:load
        title={post?.data.title}
        date={post?.data.date}
        body={post?.body}
      >
        <Content />
      </BlogContent>
      <CommentBox client:load slug={post.slug} />
      <CommentsWrapper client:load slug={post.slug} comments={comments} />
    </div>
    <PostsSlider />
  </section>
</Layout>
